body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7aa7ef;
    color: rgba(243, 244, 237, 0.9);
    display: flex;
    justify-content: center;
}

main {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    font-size: 22px;
    letter-spacing: 3px;
}

.box-text {
    padding: 30px 0;
    font-size: 25px;
}

.buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.trigger, a {
    background-color: #7aa7ef;
    color: rgba(243, 244, 237, 0.8);
    font-size: 20px;
    border: 2px solid #f3f4ed;
    width: 400px;
    height: 33px;
    box-shadow: 10px 10px 10px #6287c1;
}

.buttons a {
    margin-top: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trigger:active {
    transform: translateY(4px);
    box-shadow: 5px 5px 5px #4b6793;
    background-color: #6288c4;
}

a:active {
    transform: translateY(4px);
    box-shadow: 5px 5px 5px #4b6793;
    background-color: #6288c4;
}

.buttons i {
    padding: 0 5px;
}

